* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body {
    font-family: "Raleway";
}

.contact {
    background-image: url(/home_1/img.jpg);
    height: 866px;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 100%;
    margin: 0 auto;
    font-family: "Raleway";
}

.contact__title {
    text-align: center;
}

h1 {
    font-size: 90px;
    color: #262626;
}

.main_content {
    display: flex;

    justify-content: space-around;
    margin-top: 40px;
}
.contact_p {
    font-size: 17px;
    padding: 40px;
}

.contact__items {
    width: 750px;
    padding: 45px 0 0 175px;
    margin-right: 10px;
}

.contact__information {
    width: 750px;
    padding-top: 40px;
    font: 300 17px "Raleway", sans-serif;
}
.contact__information span {
    line-height: 1.6;
    font-weight: 700;
    text-transform: uppercase;
}
.contact__form {
    display: flex;
    flex-direction: column;
    color: #fff;
}
.contact__input {
    background: rgba(0, 196, 196, 0.5);
    padding: 20px 20px;
    font-weight: 700;
    font-size: 0.83rem;
    line-height: 1.6;
    color: #fff;
    margin-top: 15px;
}
.contact__input::placeholder {
    color: #fff;
    font: 300 15px/1.6 "Raleway", sans-serif;
}
.contact__input:hover,
.contact__input:focus {
    background: #00c4c4;
    border-left: 4px solid #355b82;
    transition: all 0.2s;
}

footer {
    background-color: #262626;
    height: 88px;
    color: white;
    font-family: "Raleway";
    font-size: 15px;
    padding: 10px 0 5px;
}

.cahee .row {
    display: flex;
    justify-content: space-between;
}

.cahee__company {
    float: left;
    margin: 15px;
}

.cahee__made {
    float: right;
    margin: 15px;
}
.cahee__logo {
    width: 70px;
    height: 30px;
}

.cahee__made--pink {
    color: #f12b55;
    font-weight: 900;
}
