body {
    font-family:  "Proxima Nova","Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
    main {
    background-color: white;
    padding-top:58px;
    padding-bottom: 108px;
    text-align: center;
    height: 289px;
}
h1 {
    font-size: 24px;
    text-align: center;
    color: black;
}
.box{
    display:inline-block;
    text-align:center;
}
p {
    font-size: 14px;
    color: #dedddc;
}
section {
    margin: 30px;
}
svg:hover path {
    fill: #2a69a6;
    
}



